__MAKE_CONF=/var/db/postgres4/my-make-conf.conf

VM_USERNAME=eblan
PORT=9213
DBNAME=postgres

PSQL="psql -p $PORT -d $DBNAME"
PGPASSWORD='соси яица'

CLUSTER_FOLDER="$HOME/yhv53"

DATA_FOLDER="$CLUSTER_FOLDER/data"
LOG_FILE="$CLUSTER_FOLDER/postgresql.log"

BENCH_PASSWORD="benchmark-super-secure-password"

DB_DSN="postgresql://${VM_USERNAME}@localhost:5432/${DBNAME}?sslmode=disable"
